/* Body and structure
-------------------------------------------------- */
body {
    padding-top: 5%;
    padding-bottom: 6%;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.hero-unit-chrome {
    padding: 60px;
    margin-bottom: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-linear-gradient( rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
}

/* Style Chrome Dashboard
--------------------------------------------------- */

#gcfooter {
    background-image: -webkit-linear-gradient( rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
    bottom: 0;
    color: #7F7F7F;
    font-size: 0.9em;
    font-weight: bold;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 5;
}


#gcfooter div {
    display: block;
}

#gcfooter #footer-border {
    background: -webkit-linear-gradient(left, rgba(150, 150, 150, 0.2), /* COLOR_NTP_SECTION_BORDER */ rgba(150, 150, 150, 0.3) 20%, /* COLOR_NTP_SECTION_BORDER */ rgba(150, 150, 150, 0.3) 80%, /* COLOR_NTP_SECTION_BORDER */ rgba(150, 150, 150, 0.2));
    height: 1px;
}

#gcfooter #footer-content {
    -webkit-box-align: center;
    display: -webkit-box;
    height: 49px;
}

#gcfooter #footer-content > * {
    margin: 0 9px;
}

#gcfooter #vertical-separator {
    -webkit-box-ordinal-group: 3;
    background-color: #B2B2B2;
    display: block;
    height: 20px;
    margin: 0;
    vertical-align: middle;
    width: 1px;
}

#gcfooter #dot-list {
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    display: -webkit-box;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#gcfooter .menu-container {
    -webkit-box-align: center;
    display: -webkit-box;
    height: 100%;
    margin: 0;
}

#gcfooter .footer-menu-button {
    -webkit-appearance: none;
    -webkit-padding-end: 15px;
    -webkit-padding-start: 9px;
    -webkit-transition: opacity 200ms;
    -webkit-transition-delay: 100ms;
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    font: inherit;
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    white-space: nowrap;
}

#gcfooter #logo-img {
    margin-top: 4px;
    content: -webkit-image-set(url("../img/logotipo-chrome.png") 1x);
}

#gcfooter #chrome-web-store-link {
    -webkit-padding-end: 12px;
    -webkit-transition-delay: 100ms;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
}

#gcfooter #chrome-web-store-title {
    -webkit-padding-end: 36px;
    -webkit-padding-start: 5px;
    background: -webkit-image-set(url("http://www.insigndigital.com.br/novo/asset/img/favicon-24.png") 1x) right 50% no-repeat;
    display: inline-block;
    line-height: 49px;
}


/* Other
------------------------- */
#fan {
    position: absolute;
    bottom: 20px;
    right: 20px;
}