* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
    color: #525252;
    background-color: #EFEFEF;
}

/*** TOP ****/
h1 {
    text-align:center;
    padding: 15px 0;
}

/*** MENU ****/
#menu {
    color: #ffffff;
    margin: 15px 0;
    background-color: #D95532;
    text-align: center;
}

#menu a {
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}

#menu a:hover {
    color: #525252;
}


/*** FAN ICON ****/
#copy {
    font-size: 8pt;
    text-align:center;
}

/*** FRASE ****/
h2 {
    text-align:center;
    padding: 20px 5px;
}

p#autor {
    text-align:center;
    padding: 0 5px 30px;
    font-weight: bold;
}

p#autor i {
    font-weight: normal;
    font-size: 8pt;
}